---
type: <%= bpTypeName %>
contextData: "<%= filename %>-bp"
layout: "lyt-docs"
publish: false
---

<% if (bpTypeName === 'component') { %>
<div class="c-<%= filename %>{{#if settings.<%= bpName %>ContextClass}}--{{settings.<%= bpName %>ContextClass}}{{else}}--default{{/if}}{{#if settings.<%= bpName %>Classes}} {{settings.<%= bpName %>Classes}}{{/if}}"
     data-css="c-<%= filename %>"<% if(bpWithJs) { %>
     data-js-module="<%= filename %>"{{#if settings.<%= bpName %>JsOptions}}
     data-js-options='{{stringify settings.<%= bpName %>JsOptions}}'{{/if}}<% } %>>
     <%= filename %>
     <% if (bpWrapWith) { %>
     {{{yield}}}
     <% } %>
</div>
<% } else { %>
<div class="<%= bpTypePrefix %><%= filename %>{{#if settings.<%= bpName %>Classes}} {{settings.<%= bpName %>Classes}}{{/if}}"<% if(bpWithJs) { %>
    data-js-module="<%= filename %>"{{#if settings.<%= bpName %>JsOptions}}
    data-js-options='{{stringify settings.<%= bpName %>JsOptions}}'{{/if}}<% } %>>
     <%= filename %>
     <% if (bpWrapWith) { %>
     {{{yield}}}
     <% } %>
</div>
<% } %>