<strong>{{ label }}</strong>

{{#each checkboxes}}
	<div class="{{ class }}">
		<input type="{{ ../type }}" id="{{ id }}" value="{{ label }}"
	        {{#is required "required"}}required="required"{{/is}}
			{{#each data-attribute}}
				{{data-attribute}}="{{data-attribute-value}}"
			{{/each}}/>
		<label for="{{ id }}">{{{ label }}} {{#is required "required"}}<abbr title="Required">*</abbr>{{/is}}
		</label>
	</div>
{{/each}}
