---
component: generic-form-template
docs: false
---

{{#if docs}}
	{{#markdown}}
------------------------------------------------

### Author:  Sebastian Fitzner
### Date:    02.04.2014

This template is a generic one to speed up the workflow.

## USAGE:
- Every generic form type should be integrated here with an #is-statement
- Integrate this partial in your page and wrap it with an #each-loop
- The #each-loop should refer to a json file with your specific form elements
- DONE!

------------------------------------------------
	{{/markdown}}
{{/if}}

<fieldset class="form__fieldset">
	<legend {{#if legend-classes}}class="{{ legend-classes }}"{{/if}}>{{ legend }}</legend>
	<div class="form__row {{ row-classes }}">

		{{#each data}}
			<div class="form__col {{ col-classes }}">

				{{#is typeOf "input"}}

					{{partial "_form__input" }}

				{{else}}{{#is typeOf "textarea"}}

					{{partial "_form__textarea" }}

				{{ else }}{{#is typeOf "select"}}

					{{partial "_form__select" }}

				{{ else }}{{#is typeOf "info"}}

					{{partial "_form__info" }}

				{{ else }}{{#is typeOf "radio"}}

					{{partial "_form__radio" ../this }}

				{{ else }}{{#is typeOf "checkbox"}}

					{{partial "_form__checkbox" ../this }}

				{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
			</div>
		{{/each}}
	</div>
</fieldset>