---
component: forms
---

<fieldset class="form__fieldset{{#if fieldset-class}} {{fieldset-class}}{{/if}}">
	<div class="outer-container">
		<div class="form__wrapper">
			<legend{{#if legend-classes}} class="{{ legend-classes }}"{{/if}}>{{ legend }}</legend>
			<div class="form__row {{ row-classes }}">

				{{#each data}}
					<div class="form__col {{ col-classes }}">

						{{#is typeOf "input"}}
							{{partial "c-form__input" }}

						{{else}}{{#is typeOf "textarea"}}
							{{partial "c-form__textarea" }}

						{{ else }}{{#is typeOf "select"}}
							{{partial "c-form__select" }}

						{{ else }}{{#is typeOf "info"}}
							{{partial "c-form__info" }}

						{{ else }}{{#is typeOf "radio"}}
							{{partial "c-form__radio" ../this }}

						{{ else }}{{#is typeOf "checkbox"}}
							{{partial "c-form__checkbox" ../this }}

						{{ else }}{{#is typeOf "submit"}}
							{{partial "c-form__submit" }}

						{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</fieldset>