<strong>{{ label }}{{#is required "required"}}<abbr title="Required">*</abbr>{{/is}}</strong>
<ul class="radio-group {{ id }}">
	{{#each radio}}
		<li>
			<input id="{{ id }}" name="{{ ../name }}" type="radio" {{#is ../required "required"}}required="required"{{/is}}/>
			<label for="{{ id }}">{{ label }}</label>
		</li>
	{{/each}}
</ul>
{{#if data-errormessage}}
	<div class="error-message">
		<p class="value-missing">{{data-errormessage}}</p>
	</div>
{{/if}}
