<label for="{{ id }}">
	{{ label }} {{#or required validate-me}}<abbr title="Required">*</abbr>{{/or}}
</label>
<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}"
	{{#each data-attribute}}
		{{data-attribute}}{{#if data-attribute-value}}="{{data-attribute-value}}"{{/if}}
	{{/each}}
	{{#is required "required"}}required="required"{{/is}}
	{{#if pattern}}pattern="{{{ pattern }}}"{{/if}} />
{{#if custom-errormessage}}
	<div class="form__error" hidden="">
		<p>{{custom-errormessage}}</p>
	</div>
{{/if}}
