<div class="form__select">
	<label for="{{ id }}">
		{{ label }} {{#or required validate-me}}<abbr title="Required">*</abbr>{{/or}}
	</label>
	<select id="{{ id }}" class="{{ class }}" name="{{ id }}"

	{{#each data-attribute}}
		{{data-attribute}}="{{data-attribute-value}}"
	{{/each}}

	{{#is required "required"}}required="required"{{/is}}>
	{{#each option}}
		<option value="{{val}}"{{#if disabled}} disabled{{/if}}>{{name}}</option>
	{{/each}}

	</select>
</div>