---
component: generic-form-template
docs: false
---
<% if (features && features.length > 0 && features.indexOf('installDocs') != -1) { %>
{{#if docs}}
	{{#markdown}}
------------------------------------------------

### Author:  Sebastian Fitzner
### Date:    02.04.2014

This template is a generic one to speed up the workflow.

## USAGE:
- Every generic form type should be integrated here with an #is-statement
- Integrate this partial in your page and wrap it with an #each-loop
- The #each-loop should refer to a json file with your specific form elements
- DONE!

------------------------------------------------
	{{/markdown}}
{{/if}}
<% } else { %>
{{!  ------------------------------------------------

 Author:  Sebastian Fitzner
 Date:    02.04.2014

 This template is a generic one to speed up the workflow.

 USAGE:
 - Every generic form type should be integrated here with an #is-statement
 - Integrate this partial in your page and wrap it with an #each-loop
 - The #each-loop should refer to a json file with your specific form elements
 - DONE!

 ------------------------------------------------
}}
<% } %>
<fieldset class="collapsable">
	<legend {{#if legend-classes}}class="{{ legend-classes }}"{{/if}}>{{ legend }}</legend>
	<div class="form-row {{ row-classes }}">

		{{#each item}}
			<div class="form-col {{ col-classes }}">

				{{#is typeOf "input"}}
					<label for="{{ id }}">
						{{ label }} {{#is required "required"}}<abbr title="Pflichtfeld">*</abbr>{{/is}}
					</label>
					<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" {{#if data-minlength}}data-minlength="{{data-minlength}}"{{/if}}
						{{#if data-maxlength}}data-maxlength="{{data-maxlength}}"{{/if}}
						{{#if data-errormessage}}data-errormessage="{{data-errormessage}}"{{/if}}
						{{#is required "required"}}required="required"{{/is}} />

				{{else}}{{#is typeOf "textarea"}}

					<label for="{{ id }}">
						{{ label }} {{#is required "required"}}<abbr title="Pflichtfeld">*</abbr>{{/is}}
					</label>
					<textarea id="{{id}}" rows="5" {{#if data-minlength}}data-minlength="{{data-minlength}}"{{/if}}
						{{#if data-maxlength}}data-maxlength="{{data-maxlength}}"{{/if}}
						{{#if data-errormessage}}data-errormessage="{{data-errormessage}}"{{/if}}
						{{#is required "required"}}required="required"{{/is}}
						placeholder="{{ placeholder }}"></textarea>

				{{ else }}{{#is typeOf "select"}}

					<div class="select-wrapper {{#if multiple}}custom-select{{/if}}">
						<label for="{{ id }}">
							{{ label }} {{#is required "required"}}<abbr title="Pflichtfeld">*</abbr>{{/is}}
						</label>
						<select id="{{ id }}" class="{{ class }}" name="{{ id }}" {{#if data-errormessage}}data-errormessage="{{data-errormessage}}"{{/if}}
							{{#is required "required"}}required{{/is}}
							{{#if multiple}}multiple="multiple"{{/if}} data-trigger="change">
							{{#if multiple}}
								<option value=""></option>
							{{/if}}
							{{#each option}}
								<option value="{{val}}" {{#if disabled}}disabled{{/if}}>{{name}}</option>
							{{/each}}

						</select>
					</div>

				{{ else }}{{#is typeOf "info"}}

					<div class="form-text {{#if infobox}}infobox{{/if}}">
						<h2>{{ title }}</h2>
						{{{ text }}}
					</div>

				{{ else }}{{#is typeOf "radio"}}

					<strong>{{ label }}{{#is required "required"}}<abbr title="Pflichtfeld">*</abbr>{{/is}}</strong>
					<ul class="radio-group {{ id }}">
						{{#each radio}}
							<li>
								<input id="{{ id }}" name="{{ ../name }}" type="radio" {{#is ../required "required"}}required="required"{{/is}}/>
								<label for="{{ id }}">{{ label }}</label>
							</li>
						{{/each}}
					</ul>
					{{#if data-errormessage}}
						<div class="error-message">
							<p class="value-missing">{{data-errormessage}}</p>
						</div>
					{{/if}}

				{{ else }}{{#is typeOf "checkbox"}}

					<strong>{{ label }}</strong>

					<div class="checkboxes-group {{ id }}">
						{{#each checkboxes}}
							<div class="{{ class }}">
								<input type="{{ ../type }}" id="{{ id }}" value="{{ label }}" {{#is required "required"}}required="required"{{/is}}/>
								<label for="{{ id }}">{{ label }} {{#is required "required"}}<abbr title="Pflichtfeld">*</abbr>{{/is}}</label>
							</div>
						{{/each}}
					</div>

				{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
			</div>
		{{/each}}
	</div>
</fieldset>