---
title: Teaser Boxes
classes: teaser green
docs: true
---

{{#limit 0 1 text-teaser.teasers.teaser}}
	{{partial '_teaser' ../this}}
{{/limit}}


<h2>Markup</h2>
{{! custom handlebars helper to support multiple json files with right context }}

{{#limit 0 1 text-teaser.teasers.teaser}}
	{{#parseJSON '{"classes": "teaser green"}'}}
		<pre><code class="html">{{#syntax}}{{partial '_teaser' ../../this }}{{/syntax}}
		</code></pre>
	{{/parseJSON}}
{{/limit}}

<h2>3 Boxes: Standard classes from JSON</h2>
<p>Standard classes are defined in your JSON file. We are limiting the output to 3 elements.</p>
{{#limit 0 3 text-teaser.teasers.teaser}}
	{{> _teaser }}
{{/limit}}

<h2>3 Boxes: Classes overriden by parseJSON</h2>
<p>Standard classes will be overriden by parseJSON. Each box will get the class ".green". Furthermore we are limiting the JSON output to 3 elements.</p>
{{#parseJSON '{"classes": "green"}'}}
	{{#limit 0 3 ../text-teaser.teasers.teaser}}
		{{partial '_teaser' ../this }}
	{{/limit}}
{{/parseJSON}}

<h2>3 Boxes: Classes overriden by JSON file and fallback to parseJSON</h2>
<p>Standard classes will be set by JSON file. Each box will get the class ".green" via parseJSON if JSON file has no class specified. Furthermore we are limiting the JSON output to 3 elements.</p>
{{#parseJSON '{"classes": "green"}'}}
	{{#limit 0 3 ../text-teaser.teasers.teaser}}
		{{partial '_teaser' this }}
	{{/limit}}
{{/parseJSON}}


<h2>3 Boxes (Image)</h2>
{{#limit 0 1 img-teaser.teasers.teaser}}
	{{> _teaser }}
{{/limit}}

{{#parseJSON '{"classes": "green"}'}}
	{{#limit 0 1 ../img-teaser.teasers.teaser}}
		{{partial '_teaser' ../this }}
	{{/limit}}
{{/parseJSON}}

{{#parseJSON '{"classes": "green"}'}}
	{{#limit 2 3 ../img-teaser.teasers.teaser}}
		{{partial '_teaser' this }}
	{{/limit}}
{{/parseJSON}}

<h2>6 Boxes (Image & Text)</h2>
{{#limit 0 6 img-text-teaser.teasers.teaser}}
	{{> _teaser }}
{{/limit}}







