---
component: Carousel Wrapper
---
<div class="m-carousel" id="{{carousel-id}}" data-carousel="true" data-carousel-autoscroll="{{carousel-autoscroll}}">
	<ul class="carousel__list {{carousel-class}}" data-carousel-elements="list">

		{{#limit limit-start limit-end data}}

			<li class="carousel__list-item" data-carousel-elements="list-item">
				{{partial "m-carousel__content" ../this }}
			</li>

		{{/limit}}

	</ul>

	{{#if carousel-pagination}}
		{{partial "m-carousel__pagination" }}
	{{/if}}
</div>


