---
component: Article
---

<article class="c-article {{article-class}}">

	{{#if article-header}}
		{{partial "c-article__header"}}
	{{/if}}

	{{#if article-figure }}
		{{partial "c-figure" }}
	{{/if}}

	<div class="article__content">
		{{#if article-summary}}
			{{{truncate article-content article-summary "..." }}}
		{{else}}
		{{! Use md files (md article-md) or json content (article-content) or both}}

			{{{ article-content }}}

			{{#if article-md}}
				{{md article-md}}
			{{/if}}

		{{/if}}
	</div>

	{{#if article-morelink}}
		{{partial "c-article__footer" }}
	{{/if}}

</article>