{{! ---
component: c-<%= filename %>
============================================

Requirements:
- (only hbs)

Options:
- <%= componentName %>ContextClass {String} [default] - Just pass a string
- <%= componentName %>Classes {String} - Modifier classes

Important Notes:

--- }}

<div class="c-<%= filename %>{{#if <%= componentName %>ContextClass}}--{{<%= componentName %>ContextClass}}{{else}}--default{{/if}}{{#if <%= componentName %>Classes}} {{<%= componentName %>Classes}}{{/if}}"
     data-css="c-<%= filename %>"
     data-js-module="<%= filename %>"
     data-js-options='{
     	{{#each <%= componentName %>JsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
</div>